aiohttp==3.3.2
alembic==1.0.0
async-timeout==3.0.0
attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.7
idna-ssl==1.1.0
itsdangerous==0.24
Jinja2==2.10
json-encoder==0.4.4
Mako==1.0.7
MarkupSafe==1.0
multidict==4.3.1
psycopg2-binary==2.7.5
python-dateutil==2.7.3
python-editor==1.0.3
python-status==1.0.1
readline==6.2.4.1
requests==2.19.1
simple-rest-client==0.5.2
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.10
urllib3==1.23
Werkzeug==0.15.3
WTForms==2.2.1
yarl==1.2.6
