{% extends "base.html" %}

{% block content %}
    <h1 class="page-title"> {{ title }}
        <small>upload files and manage its metadata</small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url_for('dashboard.index') }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-folder"></i>
                <a href="{{ url_for('files.index') }}">Files</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-{{ messages[0][0] }}">
            <button class="close" data-close="alert"></button>
            <span>{{ messages[0][1] }}</span>
        </div>
        {% endif %}
    {% endwith %}



    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-folder font-blue-sharp"></i>
                <span class="caption-subject font-blue-sharp bold uppercase">Create a new folder in the repository</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" action="{{ url_for('files.create_folder') }}" id="submit_form" method="POST">
                {{ form.csrf_token }}
                <input id="node_id" type="hidden" name="node_id">
                <div class="form-body">
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Enter a name for the new folder</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>Select where do you want to create the new folder</h3>
                        </div>
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- <label for="file" class="control-label col-md-3">{{ form.name.label }}:</label> -->
                                <div class="col-md-6">
                                    {{ form.name(class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <!-- <h3 class="form-section">Select the destination folder</h3> -->
                            <div id="tree">
                                <ul>
                                    {% for id, nodes in tree.items() -%}
                                    <li data-jstree='{ "selected" : true, "opened": true }' data-node-id='{{ nodes['id'] }}'> {{ nodes['name'] }}
                                        <ul>
                                            {% for node in nodes['children'] recursive -%}
                                                {% if node.children is defined and node.children|length >= 0 %}
                                                    <li data-node-id='{{ node['id'] }}'>
                                                {% else %}
                                                    <li data-jstree='{ "type" : "file", "disabled": true }'>
                                                {% endif %}
                                                {{ node['name'] }}
                                                {% if node.children %}
                                                <ul>{{ loop(node.children) }}</ul>
                                                {% endif %}
                                                </li>
                                            {%- endfor %}
                                        </ul>
                                    </li>
                                    {%- endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6"> </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}