{% extends "base.html" %}

{% block content %}
    <h1 class="page-title"> {{ title }}
        <small>upload files and manage its metadata</small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url_for('dashboard.index') }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-folder"></i>
                <a href="{{ url_for('files.index') }}">Files</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button class="close" data-close="alert"></button>
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="alerts"> </div>

    <!-- QUICK LINKS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{{ url_for('files.upload') }}">
                <div class="visual">
                    <i class="fa fa-file-upload"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Upload File</span>
                    </div>
                    <div class="desc"> Upload file, store metadata... </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- QUICK LINKS -->

    <!-- <span id="test">Test</span> -->
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-folder font-blue-sharp"></i>
                        <span class="caption-subject font-green-meadow bold uppercase">Files shared by me</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="shared_by_me_tree" class="tree-demo">
                        <ul>
                            {%- for id, nodes in by_me_tree.items() -%}
                            <li data-jstree='{ "selected" : true, "opened": true }' data-node-id='{{ nodes['id'] }}'> {{- nodes['name'] -}}
                                <ul>
                                    {%- for node in nodes['children'] recursive -%}
                                        {%- if node.children is defined and node.children|length >= 0 -%}
                                            <li data-node-id='{{ node['id'] }}'>
                                        {%- else %}
                                            <li data-jstree='{ "type" : "file" }' data-node-id='{{ node['id'] }}'>
                                        {%- endif -%}
                                        {{ node['name'] }}
                                        {%- if node.children -%}
                                        <ul>{{ loop(node.children) }}</ul>
                                        {%- endif -%}
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-folder-alt font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">Files shared by others</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="shared_by_others_tree" class="tree-demo">
                        <ul>
                            {%- for id, nodes in by_others_tree.items() -%}
                            <li data-jstree='{ "selected" : true, "opened": true }'> {{ nodes['name'] }}
                                <ul>
                                    {%- for node in nodes['children'] recursive -%}
                                        {%- if node.children is defined and node.children|length >= 0 -%}
                                            <li>
                                        {%- else -%}
                                            <li data-jstree='{ "type" : "file" }' data-node-id='{{ node['id'] }}'>
                                        {%- endif -%}
                                        {{ node['name'] }}
                                        {%- if node.children -%}
                                        <ul>{{ loop(node.children) }}</ul>
                                        {%- endif -%}
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Create a new folder</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{{ url_for('files.create_folder') }}" id="submit_form" method="POST">
                        {{ form.csrf_token }}
                        <input id="node_id" type="hidden" name="node_id">
                        <div class="form-body">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Enter a name for the new folder</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4>Folder will be created under</h4>
                                </div>
                            </div>
                            <!--/row-->
                            <!--row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form.name(class="form-control") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="parent_name" class="form-control" type="text" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn green">Create folder</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}